* {
    /* border: 1px beige solid; */
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}

#main-section {
    height: 100vh
}

#main-section a {
    text-decoration: none;
    color: whitesmoke;
   
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    opacity: 0.80
  }

#profile-picture {
    border: 15px gray inset;
    border-radius: 15%;
}

#video-interview-button {
    border: 0;
}
#video-interview-button:hover {
    background-color: red;
    color: whitesmoke;
    transition: 250ms linear;
}

#video-interview-youtube {
    fill: red;
    width: 16px;
    height: 16px;
}
#video-interview-button:hover #video-interview-youtube {
    fill: whitesmoke;
    transition: 250ms linear;
}

.menu-icon {
    height: 25px;
    width: 25px;
    transition: 150ms linear;
}

.menu-icon:hover {
    transform: scale(1.25);
    color: white;  
}

#linkedin-icon {
    fill:  #2867B2;
}

#main-title {
    color: aliceblue;
    text-shadow: 4px 4px 4px #000000;
    margin-top: 10%;

}

#main-subtitle {
    color: aliceblue;
    text-align: justify;
    text-justify: inter-word;
    text-shadow: 4px 4px 4px #000000;
}

#dan {
    color: orange;
}

